extends layout

block content
    div(class="row tweet")
        div(class="col-md-6 col-md-offset-3")
            div(class="panel panel-default")
                div(class="panel-heading") Nowy tweet
                form(action="/tweets/create", method="POST")
                    div(class="panel-body")
                        div(class="form-group")
                            textarea(class="form-control", name="content", maxlength="255", required)
                        div(class="form-group")
                            input(id="new-post-image", type="hidden", name="image")
                            input(id="new-post-image-input", type="file", accept="image/*", onchange="loadBase64()")
                    div(class="panel-footer text-right")
                        button(class="btn btn-primary btn-sm", type="submit") Wyślij
    each post in posts
        div(class="row tweet")
            div(class="col-md-6 col-md-offset-3")
                div(class="panel panel-default")
                    div(class="panel-heading")
                        a(href="/profile/" + post.user._id)
                            strong= post.user.name
                        span(class="pull-right")= post.created
                    div(class="panel-body")
                        if post.image
                            img(src= post.image)
                        p= post.content
                    div(class="panel-footer")
                        each comment in post.comments
                            p
                                a(href="/profile/"+comment.user._id)
                                    strong= comment.user.name
                                span= ` ${comment.content}`
                    div(class="panel-footer text-right")
                        form(action="/tweets/comment", method="POST")
                            input(type="hidden", name="post", value=post._id)
                            div(class="form-group")
                                textarea(class="form-control", name="content", maxlength="255", required)
                            button(class="btn btn-primary btn-sm", type="submit") Komentuj