doctype html
html
    head
        title TwitterClone #{!!title ? ` - ${title}` : ''}
        meta(charset="utf-8")
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/font-awesome.min.css")
        link(rel="stylesheet", href="/css/styles.css")
        script(src="/js/jquery-3.2.1.min.js")
        script(src="/js/bootstrap.min.js")
        script(src="/js/scripts.js")
    body
        nav(class="navbar navbar-default")
            div(class="container-fluid")
                div(class="navbar-header")
                    a(href="/" class="navbar-brand")
                        i(class="fa fa-twitter")
                        span Tweeter Clone by PePe
                ul(class="nav navbar-nav navbar-right")
                    if guest
                        li
                            a(href="/login")
                                i(class="fa fa-sign-in")
                                span Logowanie
                        li
                            a(href="/register")
                                i(class="fa fa-user-plus")
                                span Rejestracja
                    else
                        li
                            a(href="/profile/"+user._id)
                                if user.avatar
                                    img(src=user.avatar)
                                else
                                    img(src=`/img/d${user.sex}ua.png`)
                                span= user.first_name + ' ' + user.last_name
                        li
                            a(href="/logout")
                                i(class="fa fa-sign-out")
                                span Wyloguj
        div(class="container main")
            block content